.controls-container {
  width: 100%;
  height: 30vh;
  left: -1px;
  position: fixed;
  top: 70vh;
  overflow: hidden;
  z-index: 1;
}

.dashboard {
  width: 100%;
  height: 30vh;
  position: absolute;
  z-index: -1;
}

.button-container  {
  width: 14%;
  height: 180px;
  position: absolute;
  top: 17%;
  left: 52%;
  display: flex;
  flex-direction: column;
}


.button{
  width: 100%;
  height: 30px;
  font-family: 'Orbitron', sans-serif;
  background: green;
  border-radius: 2px;
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  box-shadow: 0px 0px 6px #feda4a;
  box-shadow: inset 0px 0px 17px black;
  animation: buttonFade 3s infinite linear;
}

@keyframes buttonFade {
    0% {
    opacity: 1;
  }
    50% {
    opacity: .6;
  }
    100% {
    opacity: 1;
  }
}

.button:hover {
  cursor: pointer;
  background: red;
}

.button-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 17px;
}

.video-overlay  {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 20px 4px 91px black;
  z-index: 1;
}

.boba-container  {
  width: 19%;
  height: 147px;
  position: absolute;
  background: green;
  top: 18%;
  left: 30%;
  border-radius: 5px;
  overflow: hidden;
}

.boba-video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 1px;
  top: 0px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: inset 0px 0px 17px black;
  box-shadow: inset 0px 0px 35px black;
}

.screen1 {
  width: 23%;
  height: 145px;
  position: absolute;
  background: green;
  top: 39%;
  left: 1%;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transform: rotate(-17deg);
  -ms-transform: rotate(-17deg);
  transform: rotate(-17deg);
}

.screen1-video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 1px;
  top: 0px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: inset 0px 0px 17px black;
  box-shadow: inset 0px 0px 35px black;
}

.screen2 {
  width: 28%;
  height: 152px;
  position: absolute;
  background: green;
  top: 38%;
  left: 72%;
  border-radius: 5px;
  overflow: hidden;
  transform: rotate(13deg);
}

.screen2-video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 1px;
  top: 0px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: inset 0px 0px 17px black;
  box-shadow: inset 0px 0px 35px black;
}

.favCount {
  width: 12%;
  font-family: 'Orbitron', sans-serif;
  height: 43px;
  position: absolute;
  background: red;
  border: solid 2px black;
  top: 2%;
  left: 34%;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  transform: rotate(0deg);
  z-index: 100;
  box-shadow: 20px 4px 91px black;
  /*animation: buttonFade 3s infinite linear;*/
}

.video-overlay2  {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 4px 1px 30px black;
  z-index: 1;
}

.favorite-counter {
  font-size: 16px;
  color: #feda4a;
  margin: 4px 0 0 15px;
}

.counter {
  width: 7%;
  font-family: 'Orbitron', sans-serif;
  height: 60px;
  position: absolute;
  background: #666666;
  border: solid 4px black;
  top: 1%;
  left: 44%;
  border-radius: 100px;
  overflow: hidden;
  -webkit-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  transform: rotate(6deg);
  z-index: 100;
  -webkit-box-shadow: 20px 4px 91px black;
  box-shadow: 20px 4px 91px black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.counter-count {
  font-size: 38px;
  color: #feda4a;
  margin: 5px 0 0 0px;
}

.video-overlay3  {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 4px 1px 43px black;
  z-index: 1;
}

.yoda-box {
  position: fixed;
  top: 60%;
  left: 27%;
  width: 100px;
  height: 100px;
  z-index: 100;
  /* background: red; */
}

.yoda-head {
  position: absolute;
  top: -12px;
  left: 0px;
  width: 100px;
  z-index: 1;
  animation: yoda .5s infinite linear;
}

@keyframes yoda {
    0% {
    transform: rotate(4deg);
  }
    50% {
    transform: rotate(-4deg);
  }
    100% {
    transform: rotate(4deg);
  }
}

.yoda-light-speed {
  animation: yodaLightSpeed .2s infinite linear;
}

@keyframes yodaLightSpeed {
    0% {
    transform: rotate(12deg);
  }
    50% {
    transform: rotate(-12deg);
  }
    100% {
    transform: rotate(12deg);
  }
}

.yoda {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 100px;
  /*height: 20px;*/
}

.upper-dash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  z-index: 100;
   /*background: red;*/
}

.upper-dash {
  width: 100%;
  position: absolute;
  top: -32px;
}

.dash-logo-container  {
  width: 17%;
  height: 50%;
  background: #666666;
  position: absolute;
  top: 13%;
  left: 41.5%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 35px black;
  box-shadow: inset 0px 0px 100px black;
}

.solid-logo {
  width: 76%;
  position: absolute;
  opacity: 1;
  animation-name: solidLogoFade;
  animation-duration: 10s;
}

@keyframes solidLogoFade {
    0% {
    opacity: 0;
  }
    90% {
    opacity: 0;
  }
    100% {
    opacity: 1;
  }
}

.light-speed-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  overflow: hidden;
  /*animation-name: lightSpeedFadeIn;
  animation-duration: 2s;*/
}

@keyframes lightSpeedFadeIn {
    0% {
    opacity: 0;
  }
    100% {
    opacity: 1;
  }
}

.light-speed-video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 1px;
  top: 0px;
  object-fit: cover;
  animation-name: lightSpeedFadeIn;
  animation-duration: 2s;
}

.r2 {
  position: absolute;
  top: -16%;
  left: 66%;
  width: 5%;
  animation: r2Swing 3s infinite linear;
}

@keyframes r2Swing {
    0% {
    transform: rotate(4deg);
  }
    50% {
    transform: rotate(-4deg);
  }
    100% {
    transform: rotate(4deg);
  }
}


.r2-light-speed {
    animation: r2LightSpeed 1s infinite linear;
}
@keyframes r2LightSpeed {
    0% {
    transform: rotate(15deg);
  }
    50% {
    transform: rotate(-10deg);
  }
    100% {
    transform: rotate(15deg);
  }
}

.hide {
  display: none;
}
