* {
  box-sizing: border-box;
  margin: 0;
  color: #feda4a;
}

a   {
  text-decoration: none;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Orbitron', sans-serif;
}
