.video-container  {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -1000;
}

.stars-video  {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
}

.fade {
  width: 100%;
  min-height: 60vh;
  background-image: linear-gradient(0deg, transparent, black 75%);
  position: relative;
  top: -25px;
  z-index: 1;
}

.outer-swapi-container  {
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: fadeIn;
  animation-duration: 4s;
}

@keyframes fadeIn {
    0% {
    opacity: 0;
  }
    100% {
    opacity: 1;
  }
}

.swapi-container  {
  height: 350px;
}

.swapi-title  {
  width: 100%;
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 8s
}

@keyframes fadeOut {
    0% {
    opacity: 1;
  }
    80% {
    opacity: 1;
  }
    100% {
    opacity: 0;
  }
}

.scroll-container {
  height: 800px;
  font-family: 'Orbitron', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  text-align: justify;
  color: #feda4a;
  line-height: 150%;
  position: relative;
  perspective: 400px;
  display: flex;
  justify-content: center;
}

.inner-scroll-box {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s infinite linear;
}

.inner-scroll-box > .title-box {
  font-size: 90%;
  text-align: center;
}

.inner-scroll-box > .title-box h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
    0% {
    top: 200px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
